<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Listagem de notas de projeto</div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Title</th>
                                <th>Note</th>
                                <th>Ação</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="o in projectNotes">
                                <td>{{o.id}}</td>
                                <td>{{o.title}}</td>
                                <td>{{o.note | limitTo: 25 }}...</td>
                                <td>
                                    <a ng-href="#/project/{{o.project_id}}/note/{{o.id}}/edit">
                                        Editar</a>
                                    <a ng-href="#/project/{{o.project_id}}/note/{{o.id}}/remove">Excluir</a>
                                    <a href="javascript:void(0)" ng-click="print(o)">Impressão</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
