<div class="container-fluid">
    <div class="row">
        <div class="container">
        <div class="col-md-4">
            <a href="#/project/{{project_id}}/task/new" class="btn btn-success pull-left">Nova Tarefa</a>
        </div>

        <div class="col-md-8">
            <form class="form-inline pull-right" name="projectTaskForm" role="form" ng-submit="save()">
                <div class="form-group">
                    <label class="control-label">Nome</label>
                        <input type="text" class="form-control" name="name" ng-model="projectTask.name" required />
                </div>
                <div class="form-group">
                        <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </form>
        </div>
    </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                        Tarefas
                </div>
                <div class="panel-body">

                    <br />
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Tarefa</th>
                            <th>Status</th>
                            <th>Iniciado em</th>
                            <th>Data Final</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="t in projectTasks">
                            <td>{{t.name}}</td>
                            <td>{{t.status}}</td>
                            <td>{{t.start_date| dateBr }}</td>
                            <td>{{t.due_date| dateBr }}</td>
                            <td>
                                <a ng-href="#/project/{{t.project_id}}/task/{{t.id}}/edit" class="btn btn-sm btn-primary">Editar</a>
                                <a ng-href="#/project/{{t.project_id}}/task/{{t.id}}/show" class="btn btn-sm btn-danger">Ver</a>
                                <a ng-href="#/project/{{t.project_id}}/task/{{t.id}}/remove" class="btn btn-sm btn-danger">Excluir</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>